<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/2011.3.1115/jquery-1.6.4.min.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/openCloseTelerikWindow.js")" type="text/javascript"></script>     
    @RenderSection("HeadScripts", required: false)        
    @Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.metro.min.css"))
</head>
<body>
    <div class="page">
        <header>           
            <div class="helloDiv">
            Hello, @Session["FriendlyIdentifier"]  | @Html.ActionLink("Logout", "LogOut", "Account") 
              @*  @Html.Partial("_LogOnPartial")*@
            </div>
            @{ Html.Telerik().Menu()
        .Name("Menu")
        .Items(menu =>
        {
            menu.Add().Text("Home").Action("Index", "Home");
            menu.Add().Text("Projects").Action("Index", "Project");
            menu.Add().Text("People").Action("Index", "Person").Items(item => item.Add().Text("Inactive").Action("Inactive", "Person"));
            menu.Add().Text("Clients").Action("Index", "Client");
            menu.Add().Text("Products").Action("Index", "Product");
            menu.Add().Text("Departments").Action("Index", "Department");
            menu.Add()
                .Text("Settings")
                .Items(item =>
                {
                    item.Add().Text("Locations").Action("Index", "Settings", new { type = "Locations" });
                    item.Add().Text("Technology Specialty").Items(subItem =>
                    {
                        subItem.Add().Text("Names").Action("Index", "Settings", new { type = "Technology Specialty Names" });
                        subItem.Add().Text("Levels").Action("Index", "Settings", new { type = "Technology Specialty Levels" });
                    });
                    item.Add().Text("Project").Items(subItem =>
                    {
                        subItem.Add().Text("Roles").Action("Index", "Settings", new { type = "Project Roles" });
                        subItem.Add().Text("Statuses").Action("Index", "Settings", new { type = "Project Statuses" });
                        subItem.Add().Text("Types").Action("Index", "Settings", new { type = "Project Types" });
                        subItem.Add().Text("Milestones").Action("Index", "Settings", new { type = "Project Milestones" });
                        subItem.Add().Text("Noise Types").Action("Index", "Settings", new { type = "Project Noise Types" });
                        subItem.Add().Text("Priority Types").Action("Index", "Settings", new { type = "Project Priority Types" });
                    });
                });
        })
        .Render();
}
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
    @Html.Telerik().ScriptRegistrar()
</body>
</html>
