@model IEnumerable<DnTeam.Models.PersonGridModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inactive People</h2>

<p>
    <a id="viewValues" class="t-button t-button-icontext"><img class="t-icon" src="@(Url.Content("~/Content/link.png"))" />View Selected Person</a>
    <a id="clearFilter" class="t-button t-button-icontext"><span class="t-icon t-clear-filter"></span>Clear Filter</a>
</p>

@(Html.Telerik().Grid(Model)
        .Name("PeopleGrid")
        .DataBinding(dataBinding => dataBinding.Ajax().Select("SelectInActive", "Person"))
        .Columns(columns =>
        {
            columns.Bound(o => o.Id).Sortable(false)
               .ClientTemplate("<input type='checkbox' name='checkedRecords' value='<#= Id #>' />").Title("").Width(50).HtmlAttributes(new { style = "text-align:center" });
            //columns.Bound(o => o.Id).Sortable(false)
            //    .ClientTemplate("<a href='" + @Url.Action("Details", "Person") + "/<#= Id #>'><img class='link-button' src='" + @Url.Content("~/Content/link.png") + "' alt='View'/></a>")
            //    .Width(50).Title("").HtmlAttributes(new { style = "text-align:center" });
            columns.Bound(o => o.Name).Width(200).HeaderHtmlAttributes(new { filterable_column = "Name" });
            columns.Bound(o => o.Location).HeaderHtmlAttributes(new { filterable_column = "Location" });
            columns.Bound(o => o.PrimaryManager).HeaderHtmlAttributes(new { filterable_column = "PrimaryManager" });
            columns.Bound(o => o.TechnologySkills).HeaderHtmlAttributes(new { filterable_column = "TechnologySkills" });
        }))

@section HeadScripts {
  <script type="text/javascript">  
    $().ready(function () {

        //bind grid filter
        $("#PeopleGrid").gridFilter({ postUrl: '@(Url.Action("SelectInActive", "Person"))', btnClearFilter: $("#clearFilter"), gridInstance: function () {
            return $("#PeopleGrid").data("tGrid");
        }});
    
        //Open details 
        $("#viewValues").click(function () {
            var values = new Array();
            $("input:checkbox[name=checkedRecords]:checked").each(function () {
                values.push($(this));
            });

            if (values.length != 1) {
                alert("Please, check one person to view details.");
            } else {
                window.location = "@(Url.Action("Details", "Person"))/" + values[0].val();
            }
        });
    });
  </script>
}