@model IEnumerable<DnTeam.Models.PersonGridModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>People Management</h2>

<p>
    <a id="addNewValue" class="t-button t-button-icontext"><span class="t-icon t-add"></span>Add a New Person</a>
    <a id="editValue" class="t-button t-button-icontext"><span class="t-icon t-edit"></span>Edit Selected Person</a>
    <a id="viewValues" class="t-button t-button-icontext"><img class="t-icon" src="@(Url.Content("~/Content/link.png"))" />View Selected Person</a>
    <a id="deleteValues" class="t-button t-button-icontext"><span class="t-icon t-delete"></span>Delete Selected People</a>    
</p>

@(Html.Telerik().Grid(Model)
        .Name("PeopleGrid")
        .DataBinding(dataBinding => dataBinding.Ajax().Select("Select", "Person"))
        .Columns(columns =>
        {
            columns.Bound(o => o.Id).Sortable(false)
                .ClientTemplate("<input type='checkbox' name='checkedRecords' value='<#= Id #>' />").Title("").Width(50).HtmlAttributes(new { style = "text-align:center" });
            //columns.Bound(o => o.Id).Sortable(false)
            //    .ClientTemplate("<a href='" + @Url.Action("Details", "Person") + "/<#= Id #>'><img class='link-button' src='" + @Url.Content("~/Content/link.png") + "' alt='View'/></a>")
            //    .Width(50).Title("").HtmlAttributes(new { style = "text-align:center" });           
            columns.Bound(o => o.Name).Width(200);
            columns.Bound(o => o.Location);
            columns.Bound(o => o.PrimaryManager);
            columns.Bound(o => o.TechnologySkills);
            
        }) 
)

@{Html.Telerik().Window().Name("ValueEditWindow").Title("Insert").Content(
      @<text>                
                <div class="editLine">
                    <div class="editElement">
                        <div class="editor-label">
                            Name
                        </div>
                        <div class="editor-field">
                            @Html.TextBox("Name")                      
                        </div>
                     </div>  
                     <div class="editElement">
                        <div class="editor-label">
                            Department Location
                        </div>
                        <div class="editor-field">
                             @(Html.Telerik().ComboBox().Name("Location").BindTo(ViewData["LocationsList"] as SelectList)
                                .Filterable(filtering => filtering.FilterMode(AutoCompleteFilterMode.StartsWith)).HighlightFirstMatch(true))
                        </div>
                    </div> 
                    <div class="editElement">
                        <div class="editor-label">
                            Primary Manager
                        </div>
                        <div class="editor-field">
                            @(Html.Telerik().ComboBox().Name("PrimaryManager").BindTo(ViewData["PersonsList"] as SelectList)
                                .Filterable(filtering => filtering.FilterMode(AutoCompleteFilterMode.StartsWith)).HighlightFirstMatch(true))
                        </div>
                    </div>                    
                </div>   
                <div class="editLine"><br/>@Html.CheckBox("ShowEditPage", true) Show person's edit page after insert</div>   
                <div id="editResult" class="editLine"></div>            
                <div class="editLine" style="padding-top: 20px;">
                    <a class="t-button t-button-icontext yesButton" onclick="addValue()"><span class="t-icon t-insert"></span><label>Insert</label></a>
                    <a class="t-button t-button-icontext noButton" onclick="closeWindow('ValueEditWindow')"><span class="t-icon t-cancel"></span><label>Cancel</label></a>
                </div>
      </text>).Visible(false).Draggable(true).Scrollable(false).Modal(true).Width(600).Render();}


@section HeadScripts {
<script src="@Url.Content("~/Scripts/showOperationStatus.js")" type="text/javascript"></script>
<script type="text/javascript">
    function addValue() {
        var name = $("#Name").val();
        var location = $("#Location").data("tComboBox");
        var primaryManager = $("#PrimaryManager").data("tComboBox");

        if (name.length <= 0) {
            showError($("#editResult"), "Name can't be empty.", "ValueEditWindow");
            return;
        }

        if (location.value() == location.text()) {
            if (location.text().length > 0) {
                showError($("#editResult"), "Please, select department location from the list or leave the field empty.", "ValueEditWindow");
                return;
            }
        }

        if (primaryManager.value() == primaryManager.text()) {
            if (primaryManager.text().length > 0) {
                showError($("#editResult"), "Please, select primary manager from the list or leave the field empty.", "ValueEditWindow");
                return;
            }
        }

        $.post('@Url.Action("Insert", "Person")', { name: name, location: location.value(), primaryManager: primaryManager.value() }, function (data) {
            if (data == null) {
                fillPeople(); //rebind combobox
                $("#PeopleGrid").data("tGrid").ajaxRequest();
                closeWindow("ValueEditWindow");
            } else {
                showError($("#editResult"), data, "ValueEditWindow");
            }
        }, 'json');
    }

    function fillPeople() {
        $.post('@(Url.Action("GetPeopleList", "Person"))', function (data) {
            $("#PrimaryManager").data('tComboBox').dataBind(data);
        }, "json");
    }
    
    $().ready(function () {

        //Open insert window
        $("#addNewValue").click(function (e) {
            e.preventDefault();
            openWindow('ValueEditWindow');
        });

        //Delete selected values
        $("#deleteValues").click(function (e) {
            e.preventDefault();

            var values = new Array();
            $("input:checkbox[name=checkedRecords]:checked").each(function () {
                values.push($(this).val());
            });

            if (values.length <= 0) {
                alert("Please, check people to be deleted.");
            } else {
                if (confirm("Are you sure you want to delete these people?")) {
                    $.ajax({
                        type: 'POST',
                        url: '@(Url.Action("Delete", "Person"))',
                        dataType: 'json',
                        traditional: true,
                        data: { values: values },
                        success: function () {
                            fillPeople(); //rebind combobox
                            $("#PeopleGrid").data("tGrid").ajaxRequest();
                        }
                    });
                }
            }
        });

        //Open edit 
        $("#editValue").click(function () {
            var values = new Array();
            $("input:checkbox[name=checkedRecords]:checked").each(function () {
                values.push($(this));
            });

            if (values.length != 1) {
                alert("Please, check one person to be edited.");
            } else {
                window.location = "@(Url.Action("Edit", "Person"))/" + values[0].val();
            }
        });

        //Open details 
        $("#viewValues").click(function () {
            var values = new Array();
            $("input:checkbox[name=checkedRecords]:checked").each(function () {
                values.push($(this));
            });

            if (values.length != 1) {
                alert("Please, check one person to view details.");
            } else {
                window.location = "@(Url.Action("Details", "Person"))/" + values[0].val();
            }
        });
    });
</script>
}