@using DnTeam.Models
@{
    ViewBag.Title = Resources.Labels.Products_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Labels.Products_Title</h2>

<p>
    <a id="addNewValue" class="t-button t-button-icontext"><span class="t-icon t-add"></span>@Resources.Labels.Products_Add_a_New</a>
    <a id="editValue" class="t-button t-button-icontext"><span class="t-icon t-edit"></span>@Resources.Labels.Products_Edit_Selected</a>
    <a id="deleteValues" class="t-button t-button-icontext"><span class="t-icon t-delete"></span>@Resources.Labels.Products_Delete_Selected</a>
    <a id="clearFilter" class="t-button t-button-icontext"><span class="t-icon t-clear-filter"></span>@Resources.Labels.Clear_Filter</a>  
</p>
@(Html.Telerik().Grid<ProductModel>()
        .Name("ProductsGrid").Sortable().Pageable()
        .DataBinding(dataBinding => dataBinding.Ajax().Select("Select", "Product"))
        .Columns(columns =>
        {
            columns.Bound(o => o.Id).Sortable(false).ClientTemplate("<input type='checkbox' name='checkedRecords' value='<#= Id #>' />").Title("").Width(50).HtmlAttributes(new { style = "text-align:center" });
            columns.Bound(p => p.Name).HeaderHtmlAttributes(new { filterable_column = "Name" });
            columns.Bound(p => p.Client).HeaderHtmlAttributes(new { filterable_column = "Client" });
        })
)

@{Html.Telerik().Window().Name("ValueEditWindow").Title(Resources.Labels.Window_Title_Edit).Content(
      @<text>
                @Html.Hidden("ProductId")
                <div class="editLine">
                    <div class="editElement">
                        <div class="editor-label">
                            @Resources.Labels.Products_Name
                        </div>
                        <div class="editor-field">
                            @Html.TextBox("Name")                      
                        </div>
                     </div>  
                     <div class="editElement">
                        <div class="editor-label">
                            @Resources.Labels.Products_Client
                        </div>
                        <div class="editor-field">
                            @Html.Telerik().ComboBox().Name("Client").BindTo(ViewData["Clients"] as SelectList).HighlightFirstMatch(true).Filterable(o=>o.FilterMode(AutoCompleteFilterMode.StartsWith))
                        </div>
                    </div>                    
                </div>    
                <div id="editResult" class="editLine"></div>            
                <div class="editLine" style="padding-top: 20px;">
                    <a class="t-button t-button-icontext yesButton" onclick="updateValue()"><span class="t-icon t-insert"></span><label>@Resources.Labels.Window_Button_Save</label></a>
                    <a class="t-button t-button-icontext noButton" onclick="closeWindow('ValueEditWindow')"><span class="t-icon t-cancel"></span><label>@Resources.Labels.Window_Button_Cancel</label></a>
                </div>
      </text>).Visible(false).Draggable(true).Scrollable(false).Modal(true).Width(600).Render();}

@section HeadScripts {
<script type="text/javascript">
    function addProduct() {
        var client = $("#Client").data("tComboBox");
        var name = $("#Name").val();
        var isClientNew = false;

        if (name.length <= 0) {
            showError($("#editResult"), "@(string.Format("{0} {1}", Resources.Labels.Products_Name,Resources.Labels.Error_Is_Empty))", "ValueEditWindow");
            return;
        }

        if (client.value() == client.text()) {
            if (client.text().length > 0) {
                if (!confirm("@(Resources.Labels.Products_Warning_Client_Is_Absent)")) {
                    return;
                }
                isClientNew = true;
            }
            showError($("#editResult"), "@(string.Format("{0} {1}", Resources.Labels.Products_Client,Resources.Labels.Error_Is_Empty))", "ValueEditWindow");
        }

        $.post('@Url.Action("Insert", "Product")', { name: name, client: client.value(), isClientNew: isClientNew }, function (data) {
            if (data == null) {
                $("#ProductsGrid").data("tGrid").ajaxRequest();
                closeWindow("ValueEditWindow");
            } else {
                showError($("#editResult"), data, "ValueEditWindow");
            }
        }, 'json');
    }

    function updateValue() {
        var client = $("#Client").data("tComboBox");
        var name = $("#Name").val();
        var isClientNew = false;
        var productId = $("#ProductId").val();

        if (name.length <= 0) {
            showError($("#editResult"), "@(string.Format("{0} {1}", Resources.Labels.Products_Name,Resources.Labels.Error_Is_Empty))");
        }

        if (client.value() == client.text()) {
            if (client.text().length > 0) {
                if (!confirm("@(Resources.Labels.Products_Warning_Client_Is_Absent)")) {
                    return;
                }
                isClientNew = true;
            }
            showError($("#editResult"), "@(string.Format("{0} {1}", Resources.Labels.Products_Client,Resources.Labels.Error_Is_Empty))");
        }

        $.post('@Url.Action("Save", "Product")', { id: productId, name: name, client: client.value(), isClientNew: isClientNew }, function (data) {
            if (data == null) {
                $("#ProductsGrid").data("tGrid").ajaxRequest();
                closeWindow("ValueEditWindow");
            } else {
                showError($("#editResult"), data, "ValueEditWindow");
            }
        }, 'json');
    }
    $().ready(function () {

        //Bind grid filters
        $("#ProductsGrid").gridFilter({ postUrl: '@(Url.Action("Select", "Product"))', btnClearFilter: $("#clearFilter"), gridInstance: function () {
            return $("#ProductsGrid").data("tGrid");
        }
        });
        
        //Open insert window
        $("#addNewValue").click(function (e) {
            e.preventDefault();
            $("#Name").val("");
            $("#Client").data("tComboBox").select(0);
            openWindow('ValueEditWindow', '@(Resources.Labels.Window_Title_Insert)', '@(Resources.Labels.Window_Button_Insert)', 'addProduct()');
        });

        //Open edit window
        $("#editValue").click(function () {
            var values = new Array();
            $("input:checkbox[name=checkedRecords]:checked").each(function () {
                values.push($(this));
            });

            if (values.length != 1) {
                alert("@(Resources.Labels.Products_Error_Edit_Nothing)");
            } else {
                //get cell values
                var ths = values[0].closest('tr').children('td');
                //open edit departments window
                openEditWindow(values[0].val(), ths[1].innerHTML, ths[2].innerHTML);
            }
        });

        function openEditWindow(id, name, client) {
            $("#ProductId").val(id);
            $("#Name").val(name);
            $("#Client").data("tComboBox").select(function(dataItem) {
                return dataItem.Text == client;
            });

            openWindow('ValueEditWindow', '@(Resources.Labels.Window_Title_Edit)', '@(Resources.Labels.Window_Button_Save)', 'updateValue()');
        }

        //Delete selected values
        $("#deleteValues").click(function (e) {
            e.preventDefault();

            var values = new Array();
            $("input:checkbox[name=checkedRecords]:checked").each(function () {
                values.push($(this).val());
            });

            if (values.length <= 0) {
                alert("@(Resources.Labels.Products_Error_Delete_Nothing)");
            } else {
                if (confirm("@(Resources.Labels.Products_Delete_Are_You_Sure)")) {
                    $.ajax({
                        type: 'POST',
                        url: '@(Url.Action("Delete", "Product"))',
                        dataType: 'json',
                        traditional: true,
                        data: { values: values },
                        success: function () {
                            $("#ProductsGrid").data("tGrid").ajaxRequest();
                        }
                    });
                }
            }
        });
    });
</script>
}